
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/variables.css);

/* import global styling */ 
@import url(./partials/global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 2rem ;
}
.header_area .main-menu .navbar #headerimage
{
    
        margin-right: -6.2rem;
}
@media only screen and (max-width: 510px) {
    #headerimage{
    margin-left: -5rem;
    width: 70%;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    }
  }
  @media only screen and (max-width: 510px) {
    #navname{
    margin-left: -5rem;
    margin-right: -1.8rem;
    font-size: 18px !important;
    
    }
  }
 #navname /*nav name style*/
{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.5rem;
    color: #5d2ed0;
    font-family: arial;
    font-weight: 600;
    text-transform: uppercase;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: arial;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1.7rem;
    font-weight: 600;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 



.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 50;
    font-size: 3rem;
    font-family: arial;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}


.site-main .site-banner .site-title h1{
    font-size: 2.3rem;
    color: #5d2ed0;
    font-family: arial;
     background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .site-banner .site-title h4{
    font-size: 1rem;
   
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}
.site-main .about-area .paragraph p
{
    font-family: arial;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font-size: 2.7rem;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 5px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}
.site-main .brand-area .text-center .title-text{
    display: block;
    font-size: 2.5rem;
    font-family: arial;
    font-weight: 600;
    font: normal bold 35px/60px var(--arial);   
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
   
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.2rem 0rem;
    margin: 1em 0;
    width: 250px;
    height: 150px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
    
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(1.0);
}



/* End Brand Area */ 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* Services Area */ 

.site-main .services-area{
    padding: 1rem 2rem 8rem;
}

.site-main .services-area .services-title{
    padding: 0rem 0rem 0rem 0rem;
    margin-bottom: -4rem;
    margin-top: -3rem;
    
}
.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 1rem 0rem 0rem;
    width: 14rem;
    margin: 5rem 0rem 0rem -1rem;
    
    transition: box-shadow .7s ease;
    
}
.site-main .services-area .services-title h1{
    padding-bottom: 3rem;
    font-size: 2.5rem;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 5px;
}

    




.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}


/* End Services Area */ 

/* //////////////////////////////////////////////////////////////////////// */

/* Project Area */ 
.site-main .project-area .project-title p{
    
    padding: 1rem 7rem;
}
.site-main .project-area .project-title h1
{
    font-size: 2.5rem;
    font-family: arial;
    font-weight: 600;
   

}

.site-main .project-area .project{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}
.site-main .project-area .project .client-img{
    padding: 2rem;
}

.site-main .project-area .project .about-client{
    padding-top: 2rem;
}

.site-main .project-area .project .about-client h4{
    font: normal 500 21px/ 20px var(--arial);
}

.site-main .project-area .project .about-client p
{
    font-size: 14px;
    font-family: arial;
   
}
.site-main .project-area .project .about-client .badge  img
{
    width: 100%;
    height: auto;
    flex: 33.33%;
    padding: 0px -2px 0px -2px;
}
.site-main .project-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .project-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End Project Area */ 

/* //////////////////////////////////////////////////////////////////// */
/* About Me */ 

.site-main .about-area .about-title p{
    
    padding: 1rem 7rem;
}
.site-main .about-area .about-title h1
{
    font-size: 2.5rem;
    font-family: arial;
    font-weight: 600;
   

}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--arial);
}

.site-main .about-area .client .about-client p
{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    
    margin: 3rem auto;
    background-position: center;
    
}
.site-main .subscribe-us-area .subscribe .social h5{
    font: normal 500 16px/ 30px var(--arial);
    color: whitesmoke;
    margin-bottom: -1rem;
}

.site-main .subscribe-us-area .subscribe .social a > i
{
    font-size: 15px;
    
    padding: 1rem;
    color: whitesmoke;
    
}
.site-main .subscribe-us-area .subscribe .social a:hover > i{
    color: #5203fc;
}


.site-main .subscribe-us-area  .myimage > img
{
    
    
    margin-bottom: 1rem;
    margin-top: -5rem;
}
.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 25px/ 30px var(--arial);
    color: whitesmoke;
    margin-top: -9rem;
    padding: 1rem''

}

.site-main .subscribe-us-area .subscribe .social
{
    margin-bottom: -14rem;
    padding-bottom: 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer .footer-area .copyrights .footerpara  
{
    display: none;
}

/* End Footer */ 